<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SecurityString" connectionString="Data Source=FIORE;Initial Catalog=SecurityDB;User ID=securityUser;Password=1881;"/>
		<add name ="ApplicationString" connectionString="Data Source=FIORE;Initial Catalog=PetShopDB;User ID=petshopUser;Password=2001;"/>
	</connectionStrings>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>