<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Services.Properties.Settings.PetShopDBConnectionString"
            connectionString="Data Source=FIORE;Initial Catalog=PetShopDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>