<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Services.Properties.Settings.PetShopDBConnectionString"
            connectionString="Data Source=FIORE;Initial Catalog=PetShopDB;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />

		<add name="SecurityString"
            connectionString="Data Source=FIORE;Initial Catalog=SecurityDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>