<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- BD del Negocio -->
		<add name="Services.Properties.Settings.PetShopDBConnectionString"
            connectionString="Data Source=FIORE;Initial Catalog=PetShopDB;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
		<!-- BD de la Security  -->
		<add name="SecurityString"
            connectionString="Data Source=FIORE;Initial Catalog=SecurityDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Ruta donde se guarda el Idioma -->
		<add key="I18NFolderPath" value="C:\Users\fiore\source\repos\Pancitas Llenas\FormUI\I18N" />
		<add key="I18NFileName" value="Idioma" />
		<!-- Ruta donde se exportan las Órdenes de Compra -->
		<add key="RutaOrdenesCompra" value="C:\PetFlow Manager\OrdenesDeCompra\" />
		<!-- Ruta donde se exportan los Excels de Historial de Movimientos -->
		<add key="RutaHistorialMovimientos" value="C:\PetFlow Manager\HistorialMovimientos\" />
		<!-- Ruta donde se exportan las Bitácora -->
		<add key="RutaBitácora" value="C:\PetFlow Manager\Bitacora\" />
	</appSettings>
</configuration>